<html>
<head>
    <title>Save Page</title>
</head>
    <body>
        <form>
            Code: <input type="text" name="Code"><br>
            <br>
            Name:<input type="text" name="Name"><br>
            <br>
            Unit-price:<input type="text" name="unitprice">
            <br>
            <br>
            <input type="submit" value="Save" name="saveItem" />
        </form> 
    </body>

</html>

